body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}
a { color: inherit;
}
* {
  box-sizing: border-box;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px sold #aaa;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .5);

}
.menubar a {
  height: 20px;
  text-decoration: none;
  color: #aaa;
}
.menubar img {
  height: 80%;
  width: auto;
}
