nav {
  width: 300px;
  position: fixed;
  top: 90px;
  left: 20px;
  padding: 30px;
  box-sizing: border-box;
  opacity: .1;
  transition: all .8s ease;
}
nav:hover {
  opacity: 1;
  transition: all .1s ease;
}
nav p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
nav a {
  text-decoration: none;
  font-size: 14px;
}
nav ul {
  margin-top: 20px;
  list-style: none;
}
nav li {
  margin-bottom: 20px;
  line-height: 16px;
}
nav ul > ul {
  margin-left: 10px;
  color: #777;
}
